In [8]:
import pandas as pd
from pyproj import Transformer

df_embalses_cedex_id = pd.read_csv('embalse.csv', encoding='latin1',sep = ';')
transformer = Transformer.from_crs("EPSG:25830", "EPSG:4326", always_xy=True)
longitude_list = []
latitude_list = []
for index,row in df_embalses_cedex_id.iterrows():
    xutm30 = row['xutm30'] 
    yutm30 = row['yutm30']
    longitude, latitude = transformer.transform(xutm30, yutm30)
    longitude_list.append(longitude)
    latitude_list.append(latitude)
df_embalses_cedex_id['longitude'] = longitude_list  
df_embalses_cedex_id['latitude'] = latitude_list  
df_embalses_cedex_id = df_embalses_cedex_id[['ref_ceh', 'nom_embalse','longitude', 'latitude']]
df_embalses_cedex_id.to_csv('Transformados/df_embalses_cedex_id.csv')

##### Procesamiento con otros campos de coordenadas

In [27]:
import pandas as pd
from pyproj import Transformer


# Leer el archivo
df_embalses_cedex_id = pd.read_csv('embalse.csv', encoding='latin1', sep=';')

# Crear el transformador de UTM zona 30N (ETRS89) a WGS84
transformer = Transformer.from_crs("EPSG:25830", "EPSG:4326", always_xy=True)

# Listas para almacenar resultados
longitude_list = []
latitude_list = []

# Filtrar filas con coordenadas vÃ¡lidas
#df_embalses_cedex_id = df_embalses_cedex_id[(df_embalses_cedex_id['xetrs89'] > 500000) & 
#                                            (df_embalses_cedex_id['xetrs89'] < 700000) & 
#                                            (df_embalses_cedex_id['yetrs89'] > 4000000) & 
#                                            (df_embalses_cedex_id['yetrs89'] < 4800000)]

# Transformar fila por fila
for index, row in df_embalses_cedex_id.iterrows():
    try:
        xetrs89 = row['xetrs89']
        yetrs89 = row['yetrs89']
        longitude, latitude = transformer.transform(xetrs89, yetrs89)
        longitude_list.append(longitude)
        latitude_list.append(latitude)
    except Exception as e:
        print(f"Error en la fila {index}: {row['nom_embalse']} - {e}")
        longitude_list.append(None)
        latitude_list.append(None)

# Agregar resultados al DataFrame
df_embalses_cedex_id['longitude'] = longitude_list
df_embalses_cedex_id['latitude'] = latitude_list

# Seleccionar columnas relevantes y guardar
df_embalses_cedex_id = df_embalses_cedex_id[['ref_ceh', 'nom_embalse', 'longitude', 'latitude']].reset_index(drop = True)

df_embalses_cedex_id.to_csv('Transformados/df_embalses_cedex_id.csv')

In [11]:
df_embalses_cedex_id_ = pd.read_csv('embalse.csv', encoding='latin1',sep = ';')

In [14]:
df_embalses_cedex_id_[[ 'nom_embalse','xutm', 'yutm', 'xutm30', 'yutm30', 'long', 'lat', 'longwgs84',
       'latwgs84', 'xetrs89',
       'yetrs89']]

,nom_embalse,xutm,yutm,xutm30,yutm30,long,lat,longwgs84,latwgs84,xetrs89,yetrs89
0,ALARCON,576382,4380018,576382,4380018,-20639,393357,-20643,393353,576272,4379810
1,ALCORA,737280,4442540,737280,4442540,-1259,400557,-1304,400552,737170,4442331
2,ALMANSA,660059,4304699,660059,4304699,-10917,385236,-10922,385229,659949,4304491
3,AMADORIO,738513,4268781,738513,4268781,-1549,383205,-1554,383201,738403,4268573
4,ARENOS,709064,4440386,709064,4440386,-3253,400513,-3257,400510,708954,4440177
5,ARQUILLO DE SAN BLAS,652520,4469922,652520,4469922,-11213,402155,-11218,402151,652411,4469713
6,BENIARRES,729642,4299767,729642,4299767,-2119,384858,-2123,384854,729532,4299559
7,BUSEO,677030,4385102,677030,4385102,5618,393551,-5622,393544,676920,4384893
8,CONTRERAS,628756,4378377,628756,4378377,-13006,393241,-13010,393237,628646,4378169
9,EMBARCADEROS,669713,4345601,669713,4345601,-10200,391435,-10205,391429,669603,4345393
10,FORATA,684105,4356997,684105,4356997,-5149,392032,-5154,392027,683995,4356788
11,BENAGEBER,663043,4399340,663043,4399341,-10551,394340,-10556,394335,662933,4399132
12,GUADALEST,744383,4285194,744383,4285194,-1127,384052,-1131,384047,744273,4284986
13,LORIGUILLA,679107,4392916,679107,4392916,-5443,393960,-5448,393956,678997,4392707
14,MARIA CRISTINA,742103,4434950,742103,4434950,-946,400146,-951,400142,741993,4434741
15,ONDA,728120,4424335,728120,4424335,-1949,395616,-1953,395612,728010,4424126
16,REGAJO,711716,4418624,711716,4418624,3126,395329,-3130,395322,711606,4418415
17,SICHAR,736423,4432764,736423,4432764,-1348,400041,-1353,400036,736313,4432555
18,"TOBA, LA",591836,4451861,591836,4451861,-15515,401241,-15519,401237,591727,4451652
19,ULLDECONA,266322,4506079,773434,4507449,1406,404021,1401,404015,773325,4507239
20,"MOLINAR, EL",651898,4341527,651898,4341527,-11427,391233,-11431,391228,651788,4341319
21,CORTES 2,679692,4348083,679692,4348084,-5502,391546,-5507,391542,679582,4347875
22,"MUELA, LA (BOMBEO)",678915,4345465,678915,4345465,5537,391424,-5541,391418,678805,4345257
23,"NARANJERO, EL",685402,4350000,685402,4350000,5102,391646,-5106,391640,685292,4349791
24,TOUS,703168,4334364,703168,4334364,3858,390805,-3902,390759,703058,4334156
25,ESCALONA,699042,4333787,699042,4333787,-4151,390748,-4155,390743,698932,4333579
26,BELLUS,718691,4313299,718691,4313299,2836,385629,-2841,385622,718581,4313091
27,ALGAR,724759,4407728,724759,4407728,-2231,394721,-2235,394717,724649,4407519
28,BALAGUERAS,697676,4454062,697676,4454062,-4038,401247,-4042,401243,697566,4453853
29,VALBONA,685795,4458357,685795,4458357,-4856,401516,-4900,401512,685686,4458148
30,MORA DE RUBIELOS,691966,4461493,691966,4461493,-4436,401648,-4436,401648,691857,4461284
31,TIBI,713064,4264406,713064,4264406,3324,383009,-3328,383003,712954,4264198
32,RELLEU,736356,4271997,736356,4271997,1714,383354,-1719,383348,736246,4271789
33,ELCHE,699361,4242569,699361,4242569,4311,381833,-4316,381826,699251,4242361
34,ELDA,692497,4263431,692497,4263431,-4734,382952,-4738,382948,692387,4263223

In [10]:
df_embalses_cedex_id

    ref_ceh           nom_embalse  longitude   latitude
0      8001               ALARCON  -2.110780  39.566461
1      8002                ALCORA  -0.216369  40.099724
2      8003               ALMANSA  -1.154837  38.876584
3      8004              AMADORIO  -0.263584  38.535487
4      8005                ARENOS  -0.547773  40.087816
5      8006  ARQUILLO DE SAN BLAS  -1.203630  40.365930
6      8007             BENIARRES  -0.355005  38.816765
7      8008                 BUSEO  -0.938214  39.597375
8      8009             CONTRERAS  -1.501529  39.545416
9      8012          EMBARCADEROS  -1.033408  39.243135
10     8013                FORATA  -0.863624  39.342817
11     8014             BENAGEBER  -1.097512  39.728378
12     8015             GUADALEST  -0.190553  38.681630
13     8016            LORIGUILLA  -0.911924  39.667303
14     8017        MARIA CRISTINA  -0.162690  40.030052
15     8018                  ONDA  -0.330114  39.938412
16     8019                REGAJO  -0.523781  39.891266
17     8021                SICHAR  -0.229978  40.011990
18     8023              TOBA, LA  -1.920793  40.212135
19     8025             ULLDECONA   0.235020  40.672614
20     8026           MOLINAR, EL  -1.240664  39.209744
21     8027              CORTES 2  -0.917182  39.263485
22     8028    MUELA, LA (BOMBEO)  -0.926878  39.240061
23     8029         NARANJERO, EL  -0.850513  39.279535
24     8030                  TOUS  -0.649395  39.134775
25     8031              ESCALONA  -0.697265  39.130532
26     8032                BELLUS  -0.476713  38.941378
27     8033                 ALGAR  -0.375117  39.789839
28     8034            BALAGUERAS  -0.677050  40.213680
29     8035               VALBONA  -0.815325  40.255064
30     8036      MORA DE RUBIELOS  -0.741877  40.281903
31     8931                  TIBI  -0.556628  38.502554
32     8932                RELLEU  -0.287217  38.565013
33     8933                 ELCHE  -0.719841  38.309082
34     8934                  ELDA  -0.792583  38.498456